* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Andale Mono', monospace;
    font-size: 1vw;
  }
  
  body {
    min-height: 100vh;
    background: #faf9f8;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4vh;
    margin-top: 10vh;
  }
  
  .image-container, .text-container {
    margin: 2vh;
  }
  
  .image-container {
    flex-basis: 40%;
  }
  
  .image-container img {
    width: 100%; /* Full width for better responsiveness */
    height: auto;
    border-radius: 2vh;
    box-shadow: 0 0.5vh 1vh rgba(0, 0, 0, 0.2);
  }
  
  .text-container {
    flex-basis: 50%;
    margin-top: 40px;
  }
  
  .text-container p {
    text-align: justify;
    text-justify: inter-character;
  }
  
  
  
  @media (max-width: 992px) {
  *{
    font-size: 4vw;
    }
    main {
      flex-direction: column;
      margin-top: 5vh;
    }
    .image-container, .text-container {
      flex-basis: 100%;
      margin: 1vh;
    }
  
  }
  
  @media (max-width: 768px) {
    main {
      flex-direction: column;
    }
    .image-container, .text-container {
      flex-basis: 100%;
    }
    .image-container img {
      width: 90%; /* Slightly smaller for better display */
    }
  
  }
  
  @media (max-width: 480px) {
    .image-container img {
      width: 100%; /* Use full width for small screens */
    }
  
  }  