/* Gestion du contenu des onglets */
.tab-content {
  display: grid;
  grid-template-rows: min-content auto;
  padding: 1rem;
  flex-grow: 1;
  font-size: 0.875rem;
  overflow: hidden;
}

/* Table container */
.table-container {
  overflow: auto;
  border-radius: 8px;
}

.tab-content-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid rgb(var(--bg-3));
}

th {
  background-color: rgb(var(--bg-3));
  font-weight: bold;
  color: rgb(var(--fg-2));
}

thead {
  position: sticky;
  top: 0;
  left: 0;
}

/* Gestion des boutons admin */
.admin-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Ajustement des tableaux */
.table-container table tr:nth-child(even) {
  background-color: rgb(var(--bg-2));
}

main,
.container {
  overflow-y: hidden;
}

/*===main ===*/
main {
  margin-inline: 0;
  display: grid;
  width: 100%;
  justify-self: center;
}

/* flex box */
.container {
  display: flex;
  width: 100%;
}

/*===responsiveness===*/

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
