/* Container principal qui va contenir les deux sections */
.container {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  overflow: hidden;
  padding-inline: 1rem;
}

main {
  overflow: hidden;
  margin-inline: 0;
  width: 100%;
  justify-self: center;
}

/* Conteneur de conversation */
.conversation-container {
  width: 100%;
  display: grid;
  grid-template-rows: auto min-content;
  height: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  background: rgb(var(--bg-2));
}

/* Quand aucun utilisateur n'est sélectionné */
.no-user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 1;
}

.full-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; /* pour éviter un scroll externe */
}

/* Le style des messages dans la conversation */
.messages {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  row-gap: 0.875rem;
}

.send-message-form {
  display: flex;
  gap: 0.875rem;
  padding: 0.875rem 1rem;
  align-items: center;
}

.title {
  padding: 1rem;
  border-bottom: 1px solid rgb(var(--bg-3),0.35);
  display: flex;
  align-items: center;
  column-gap: 0.875rem;

}

.title h2 {
  font-weight: 500;
}

/* Style des bulles de message */
.bubble {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 0.875rem;
}

.bubble.right{
  justify-items: end;
}

/* Styles pour l'affichage mobile */
.mobile-only {
  display: none;
}

.tab-users {
  display: none;
}

.current-contact {
  margin: 10px 0;
  font-size: 1.2rem;
}

/* Partie mobile */
@media (max-width: 768px) {
  /* Container principal devient en colonne */
  .container {
    flex-direction: column;
  }

  .tab-users {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  /* La fenêtre de messagerie ne sera plus en deux colonnes */
  .no-user {
    font-size: 16px;
    text-align: center;
    color: #888;
    padding: 10px;
  }

  /* Les icônes de suppression dans les bulles de message sont ajustées */
  .menu-wrapper {
    position: relative;
    display: inline-block;
  }

  .menu-btn {
    font-size: 1.5em;
  }

  /* Eviter l'overlap entre les éléments */
  .bottom {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .options-menu {
    position: absolute;
    top: -40px;
    right: 0;
    width: 100%;
  }
}
