table,
tr,
td,
th {
    border: 1px solid rgb(var(--bg-3));
    border-collapse: collapse;
}

.sensor-ctn {
    overflow-x: auto;
}

.sensor-value, .head {
    padding: 0.5rem 1rem;
}
.head{
    text-align: left;
}

.sensor {
    padding: 0.5rem 1rem;
    font-weight: bold;
}