@font-face {
  font-family: "Outfit";
  src: url("/assets/font/Outfit-VariableFont_wght.ttf");
}

html,
body {
  height: 100%;
}

:root {
  --bg-1: 253, 254, 255;
  --bg-2: 234, 240, 244;
  --bg-3: 27, 37, 46;
  --bg-4: 187, 215, 237;
  --fg-1: 42, 48, 53;
  --fg-2: 253, 254, 255;
  --fg-3: 4, 107, 190;
  --accent-blue: 58, 163, 249;
  --accent-error-bg: 255, 236, 233;
  --accent-error-border: 228, 88, 66;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-1: 21, 27, 31;
    --bg-2: 38, 48, 55;
    --bg-3: 245, 248, 251;
    --bg-4: 26, 108, 175;
    --fg-1: 253, 254, 255;
    --fg-2: 0, 15, 27;
    --fg-3: 93, 182, 255;
    --accent-blue: 0, 109, 198;
    --accent-error-bg: 94, 30, 20;
    --accent-error-border: 207, 111, 96;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: rgb(var(--bg-3), 0.1) transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: rgb(var(--bg-1));
  font-size: 16px;
  color: rgb(var(--fg-1));
  display: grid;
}

main {
  margin-top: 5rem;
  max-width: 1280px;
  margin-inline: 5rem;
  width: calc(100% - 10rem);
}

svg {
  display: flex;
  fill: currentColor;
}

.hidden{
  display: none !important;
}

/*===buttons===*/
.primary-btn,
.shadow-btn {
  padding: 0.5rem 0.625rem;
  border: none;
  border-radius: 0.625rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.875rem;
  height: fit-content;
  font-weight: 500;
}

.primary-btn {
  background-color: rgb(var(--accent-blue));
  color: rgb(var(--fg-1));
}

.icon-btn {
  border-radius: 10rem;
  padding: 0.5rem;
  color: rgb(var(--fg-1));
}

.shadow-btn {
  background-color: rgb(var(--bg-3), 0.05);
  color: rgb(var(--fg-1));
  border: 1px solid rgb(var(--bg-3), 0.35);
}

.primary-btn:hover {
  background-color: rgb(var(--accent-blue), 0.85);
}

.shadow-btn:hover {
  background-color: rgba(var(--bg-3), 0.14);
}

.icon-btn:hover {
  background-color: rgb(var(--bg-3), 0.14);
}

button {
  cursor: pointer;
  transition: all 300ms ease-in;
  appearance: none;
  border: none;
  background: transparent;
  color: inherit;
  height: fit-content;
}

input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(var(--bg-3), 0.35);
  background: rgb(var(--bg-1));
  color: inherit;
}

:is(input[type="text"], input[type="password"], textarea):focus-visible {
  outline-color: rgb(var(--accent-blue));
}

button:disabled {
  background: rgb(var(--bg-3), 0.8);
  color: rgb(var(--fg-2));
  pointer-events: none;
}

/*titles*/

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
}

h3 {
  font-size: 1.125rem;
}

footer {
  display: flex;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  background: rgb(var(--bg-2));
  padding: 0.25rem;
  font-size: 0.75rem;
  font-weight: bold;
  color: inherit;
}

/*=== side bar ===*/
.sidebar-ctn {
  max-width: 360px;
  flex-basis: 25%;
}

.sidebar-menu-button::first-letter {
  text-transform: uppercase;
}

.sidebar-title {
  padding-bottom: 0.875rem;
  position: sticky;
  top: 0;
  background: rgb(var(--bg-1));
}

.black-mask::after {
  content: "";
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #00000080;
  z-index: 99;
  display: none;
}

/**=== responsiveness ===**/

@media (min-width: 1440px) {
  main {
    margin-inline: auto;
  }
}

@media (max-width: 768px) {
  main {
    margin-inline: 1rem;
    width: calc(100% - 2rem);
  }

  .sidebar-ctn {
    flex-basis: auto;
  }

  .black-mask::after {
    display: inline-block;
  }
}
