h1{
    font-size: 1.25rem;
    text-align: center;
}

#upload-status {
  margin-bottom: 0.625rem;
  background: rgb(var(--bg-2));
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}

.uploading, #details, #image-upload {
  display: none;
}

.step{
    padding: 0.5rem 0.625rem;
    border-radius: 0.625rem;
    text-align: center;
    font-size: 0.875rem;
    height: fit-content;
    font-weight: 500;
    background-color: rgb(var(--bg-3), 0.2);
    color: rgb(var(--fg-1));
    border: 1px solid rgb(var(--bg-3), .35);
}

.container,
.form-field-ctn,
.upload-ctn,
.form-field,
form {
  display: flex;
  flex-direction: column;
}

.form-progress{
    display: flex;
    justify-content: space-between;
}

form {
  row-gap: 1.5rem;
}

.form-field {
  row-gap: 0.5rem;
}

.nav-btn-ctn {
  display: flex;
  gap: 1rem;
}

.upload-ctn {
  gap: 2rem;
}

.container {
  gap: 1.5rem;
  max-width: 320px;
  margin-inline: auto;
  padding-inline: 2rem;
  height: fit-content;
}

.form-upload-field {
  aspect-ratio: 16/9;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed rgb(var(--bg-3), 0.35);
}

input[type="file"] {
  display: none;
}

#video-preview,
#image-preview {
  width: 100%;
  height: auto;
}

.preview-file {
  max-width: 3rem;
  aspect-ratio: 1/1;
  display: flex;
  background: rgb(var(--bg-1));
  border-radius: 0.25rem;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.preview-file-info {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  font-size: 0.75rem;
  overflow: hidden;
}

.preview-file-name {
  font-weight: 500;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.preview-image-ctn,
.preview-video-ctn {
  display: flex;
  visibility: hidden;
  max-width: 320px;
  border-radius: 0.75rem;
  padding: 0.5rem;
  background: rgb(var(--bg-2));
  gap: 0.875rem;
}

.preview-image-ctn.show,
.preview-video-ctn.show {
  visibility: visible;
}

.form-field-ctn {
  gap: 1.25rem;
}

#submit-btn {
  display: none;
}

.form-upload-field.invalid{
    border-color: rgb(var(--accent-error-border));
    background: rgb(var(--accent-error-bg));
}